<div class="footer">
  <div class="footer-links">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/28/Supreme_Logo.svg" alt="">
  </div>
  <div class="footer-copyright">
    © SUPERME - All rights reserved 2022
  </div>
</div>
