<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "superme-logo" %>
    <% end %>  </div>
  <div class="footer-copyright">
    © SUPERME - All rights reserved 2022
  </div>
</div>
