.banner {
  width: 100vw;
  height: 650px;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(62, 62, 62, 0.1), rgba(32, 32, 32, 0.1)), url('https://wallpaperaccess.com/full/955094.jpg') ;
  text-align: right;
  margin-bottom: 30px;
}

.banner-info {
  position: relative;
  width: 700px;
  left: 750px;
  top: 180px;
  text-align: center;
}

.banner h1 {
  color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 60px;
  margin-bottom: 30px;
}

.banner h3 {
  color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 45px;
}

.banner-index {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background: linear-gradient(180deg, hsla(49, 99%, 62%, 1) 45%, #f4f4f4 100%);
}
.banner-index h1 {
  color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 60px;
}
