.btn-flat {
  color: #ffffff;
  padding: 13px 34px;
  background: #ffffff54;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  transition: all 0.4s ease;
}

.btn-flat:hover {
  color: #d8d8d8;
  background: #aaaaaad4;
}

.notice {
  position: absolute;
  width: 100%;
}

.btn-signup {
  color: #4e4e4e;
  text-decoration: none;
}

.btn-signup:hover {
  color: #4e4e4ea7;
  transition: ease-in-out 0.2s;
}

.btns-end {
  display: flex;
  justify-content: center;
}

.btn-home-end {
  color: #ffffff;
  padding: 13px 34px;
  background: #494949;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  transition: all 0.4s ease;
  margin: 15px;
}

.btn-home-end:hover {
  color: #d8d8d8;
  background: #555555d4;
}
