.cards-index ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 38px auto 0 auto;
  column-gap: 30px;
  row-gap: 30px;
  padding: 0;
}

.cards-index li {
  color: black;
  text-decoration: none;
}

.cards-index a {
  width: 90%;
  margin: 0 auto;
}

.card-superpower {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  transition: all 0.3s ease ;
}

.card-superpower:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.card-superpower > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.card-superpower h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.card-superpower p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-superpower-infos {
  position: relative;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

.card-superpower-owner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 880px) {
  .cards-index ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    column-gap: 30px;
    row-gap: 30px;
    padding: 0;
  }
}
