.cards-index ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 0 auto;
}

.card-superpower {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 26px auto;
  width: 25vw;
  border-radius: 10px;
}

.card-superpower > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-superpower h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-superpower p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-superpower-infos {
  position: relative;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

.card-superpower-owner {
  display: flex;
  flex-direction: column;
}

.card-superpower-left a {
  text-decoration: none;
  color: black;
}

.card-superpower-left a:hover {
  color: rgb(62, 62, 62);
}
