body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: auto;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links img {
  width: 80px;
}

.footer .fa-heart {
  color: #D23333;
}
