.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin: 0;
	position: sticky;
	top: 0;
  z-index: 4;
}

.navbar-content {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // AVATAR
  list-style: none;
}

// LOGO
.superme-logo {
  width: 80px;
}


// SEARCHBAR
.searchInput {
  color: #4e4e4e;
  width: 33vw;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
  background-color: #87878733;
}

::placeholder {
  color: #4e4e4e;
  text-align: center;
}

:focus::placeholder {
  text-indent: -999px
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.container:focus-within >
.searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}

.navbar-content-signed-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-content-logo {
  width: 20vw;
}

.navbar-content-right {
  width: 20vw;
  display: flex;
  justify-content: flex-end;
}

.user-avatar:hover {
  cursor: pointer;
}
